@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
$text-color:#030303;
$black-primary:rgba(255, 255, 255, 0.98);
$border-color:#d3d3d3;
$breackpoint-medium:1224px;
$black-secondary:rgba(255, 255, 255, 0.95);
$breackpoint-small:520px;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: $black-primary;
    background-attachment: fixed;
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
}
